.musclegroupcontainer {
    
    background-image: url('../../images/barbells-on-gray-surface-669584.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui.menu .item {
    color: white;
}

.ui.segment.active.tab {
    background-color: rgb(0,0,0,0.3);
}

.ui.card {
    background-color: rgb(255,255,255,0.7);
}
/* tabs */
.ui.secondary.pointing.menu .active.item {
    background-color: transparent;
    box-shadow: none;
    border-color: #0063ca;
    font-weight: 700;
    color: rgba(255,255,255,.95);
}