/* .container {
display: flex;
flex-direction: column;

justify-content: center;
}
img {
    position: relative;
}
.muscle {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary {
    display: block;
    font-size: 40px;
    font-weight: 800;

} */
