.tabs {
    display: flex;
    justify-content: center;
    
}

.tab-box {
    width: 70%;
}

.ui.pointing.secondary.menu {
    font-size: 1.6rem;
    justify-content: center;
}

div {
    // justify-content: center;
}
